<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Beauty City</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
          href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap"
          rel="stylesheet"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <!-- 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css.map">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css.map"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}"/>
  <script src="{% static 'js/air-datepicker.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body class="servicePage">
<section id="mobMenu">
  <div class="mobMenu">
    <div class="container">
      <div class="mobMenu__header">
        <div class="row">
          <div class="col-4 col-md-3">
            <a href="/">
              <img
                      src="{% static 'img/Logo.svg' %}"
                      alt="Logo"
                      class="logo header__logo"
              />
            </a>
          </div>
          <div class="col-3 col-md-2">
            <img
                    src="{% static 'img/x.svg' %}"
                    alt="x"
                    class="mobMenuClose"
            />
          </div>
        </div>
      </div>
      <div class="mobMenu__content">
        <div class="row">
          <div class="col-md-3">
            <nav>
              <ul class="mobMenu__menu">
                <li class="mobMenu__menu_item">
                  <a href="#" class="mobMenu__menu_link">Мастера</a>
                </li>
                <li class="mobMenu__menu_item">
                  <a href="#" class="mobMenu__menu_link">Услуги</a>
                </li>
                <li class="mobMenu__menu_item">
                  <a href="#" class="mobMenu__menu_link">Отзывы</a>
                </li>
                <li class="mobMenu__menu_item">
                  <a href="#" class="mobMenu__menu_link">Контакты</a>
                </li>
              </ul>
            </nav>
            <a href="#" class="mobMenu__account">Личный кабинет</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="mobMenu__btn">Перезвоните мне</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<header id="header">
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-2 col-md-2 mob">
          <img
                  src="{% static 'img/hamburger.svg' %}"
                  alt="hamburger"
                  class="header__mobMenu"
          />
        </div>
        <div class="col-5 col-md-3 col-lg-2">
          <a href="/">
            <img
                    src="{% static 'img/Logo.svg' %}"
                    alt="Logo"
                    class="logo header__logo"
            />
          </a>
        </div>
        <div class="col-md-5">
          <nav>
            <ul class="menu">
              <li class="menu__item">
                <a href="#" class="menu__item_link">Мастера</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item_link">Услуги</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item_link">Отзывы</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item_link">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-2 col-md-2 col-lg-3">
          <div class="header__block">
            <button class="header__block_btn">Перезвоните мне</button>
            <div class="header__block_auth">
              <img
                      src="{% static 'img/acc.svg' %}"
                      alt="account"
                      class="header__account_img"
              />
              <span class="header__block_auth__intro">Войти</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="app">
  <section id="service">
    <div class="container">
      <div class="service">
        <div class="breadCrumbs">
          <a href="{% url 'beautyservice:index' %}" class="breadCrumbs__item">На главную</a>
        </div>
        <div class="service__block">
          <h1 class="service__title">Запись на услугу</h1>
          <button class="service__btn btn">Запись по телефону</button>
        </div>

        <form @submit.prevent="handleSubmit" class="service__form">
          <button class="accordion" @click="toggleSalonList">
            ${selectedSalonTitle ? selectedSalonTitle : '(Выберите салон)' }
          </button>

          <div class="panel" v-show="isSalonListVisible">
            <div v-for="salon in salons" :key="salon.id" @click="selectSalon(salon.id)" class="accordion__block">
              <div class="accordion__block_intro">${ salon.title }</div>
              <div class="accordion__block_address">${ salon.address }</div>
            </div>
          </div>


          <button class="accordion" @click="toggleServiceList" :class="{'selected': selectedService}">
            ${ selectedService ? selectedService.name : '(Выберите услугу)' }
          </button>
          <div class="panel" v-show="isServiceListVisible">
            <div v-for="(group, category) in groupedServices" :key="category">
              <button class="accordion" @click="toggleCategory(category)">
                ${ category }
              </button>
              <div :class="['panel', { show: activeCategory === category }]">
                <div v-if="activeCategory === category">
                  <div class="accordion__block_items">
                    <div v-for="service in group" :key="service.id" @click="selectService(service.id)"
                         class="accordion__block_item"

                    >

                      <div class="accordion__block_item_intro">${ service.name }</div>
                      <div class="accordion__block_item_address">${ service.price } ₽</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <button class="accordion" @click="toggleMasterList">
            (Выберите мастера)
          </button>
          <div class="panel" v-show="isMasterListVisible">
            <div v-for="master in masters" :key="master.id" @click="selectMaster(master.id)" class="accordion__block">
              <div class="accordion__block_intro">${ master.name }</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="time">
    <div class="container">
      <div class="time">
        <h2 class="time__title">Выберите дату</h2>
        <div class="time__block">
          <div class="row">
            <div class="col-md-4">
              <!-- ! Календарь -->
              <input type="text" id="datepickerHere" style="display: none">
            </div>
            <div class="col-md-8">
              <div class="time__elems" v-if="timeSlots">
                <div v-for="(times, partOfDay) in timeSlots" :key="partOfDay" class="time__items">
                  <div class="time__elems_intro">${ partOfDay }</div>
                  <div class="time__elems_elem fic">
                    <button
                            v-for="timeSlot in times"
                            :key="timeSlot.time"
                            @click="selectTime(timeSlot)"
                            :class="['time__elems_btn', { 'active': timeSlot.time === selectedTime }]">
                      ${ timeSlot.time }
                    </button>
                  </div>
                </div>
              </div>
              <div v-else>
                <p>Нет доступного времени для выбранной даты.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="time__btns">
          <div class="row">
            <div class="col-md-12">
              <button class="time__btns_next" :disabled="!selectedTime">
                <a :href="`{% url 'beautyservice:service_finally' %}?salon=${selectedSalon}&service=${selectedServiceForlink}&master=${selectedMaster}&date=${selectedDate}&time=${selectedTime}`"
                   class="btn__next">Далее</a>
              </button>

              <button class="time__btns_home">
                <a href="{% url 'beautyservice:index' %}" class="btn__home">На главную</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>
</div>
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="footer__block">
        <div class="row">
          <div class="col-md-3 col-lg-2">
            <a href="/"
            ><img
                    src="{% static 'img/Logo.svg' %}"
                    alt="logo"
                    class="footer__logo"
            /></a>
          </div>
          <div class="col-md-5 minMobHide">
            <nav>
              <ul class="menu">
                <li class="menu__item">
                  <a href="#" class="menu__item_link">Мастера</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__item_link">Услуги</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__item_link">Отзывы</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__item_link">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="footer__contact">
          <div class="row">
            <div class="col-md-4">
              <div class="footer__data">с 10:00 до 20:00 без выходных</div>
            </div>
            <div class="col-md-3">
              <a href="tel:+79179023800" class="contacts__info_tel"
              >+7 (917) 902 38 00</a
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 minMobShow">
              <nav>
                <ul class="menu">
                  <li class="menu__item">
                    <a href="#" class="menu__item_link">Мастера</a>
                  </li>
                  <li class="menu__item">
                    <a href="#" class="menu__item_link">Услуги</a>
                  </li>
                  <li class="menu__item">
                    <a href="#" class="menu__item_link">Отзывы</a>
                  </li>
                  <li class="menu__item">
                    <a href="#" class="menu__item_link">Контакты</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <hr class="hr"/>
        <div class="footer__bottom">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <a href="#" class="footer__link"
              >Политика конфиденциальности</a
              >
            </div>
            <div class="col-md-3">
              <div class="footer__copy">2022. Все права защищены</div>
            </div>
            <div class="col-md-3 col-lg-2">
              <div class="footer__social fic">
                <a href=""
                ><img
                        src="{% static 'img/waGray.svg' %}"
                        alt="wa"
                        class="contacts__social_icon"
                /></a>
                <a href=""
                ><img
                        src="{% static 'img/vkGray.svg' %}"
                        alt="vk"
                        class="contacts__social_icon"
                /></a>
                <a href=""
                ><img
                        src="{% static 'img/tgGray.svg' %}"
                        alt="tg"
                        class="contacts__social_icon"
                /></a>
                <a href=""
                ><img
                        src="{% static 'img/instaGray.svg' %}"
                        alt="insta"
                        class="contacts__social_icon"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>


<script>
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data() {
            return {
                salons: [],
                services: [],
                masters: [],
                selectedSalon: null,
                selectedService: null,
                selectedMaster: null,
                selectedCategory: null,
                selectedDate: '',
                timeSlots: null,
                selectedTime: null,

                isSalonListVisible: false,
                isServiceListVisible: false,
                isMasterListVisible: false,
                activeCategory: null,

                selectedServiceForlink: null,
                selectedSalonTitle: null,
            };
        },
        computed: {
            groupedServices() {
                const grouped = this.services.reduce((acc, service) => {
                    const category = service.category;
                    if (!acc[category]) {
                        acc[category] = [];
                    }
                    acc[category].push(service);
                    return acc;
                }, {});

                return grouped;
            },

            servicesForSelectedCategory() {
                if (this.selectedCategory) {
                    return this.services.filter(service => service.category === this.selectedCategory);
                }
                return [];
            }
        },
        mounted() {
            this.loadSalons();
            this.loadAllServicesAndMasters();
            this.initDatepicker();

        },
        methods: {
            toggleServiceList() {
                this.isServiceListVisible = !this.isServiceListVisible;
            },
            toggleCategory(category) {
                this.activeCategory = this.activeCategory === category ? null : category;
            },

            toggleMasterList() {
                this.isMasterListVisible = !this.isMasterListVisible;
            },

            selectService(serviceId) {
                this.selectedServiceForlink = serviceId
                const selectedService = this.services.find(service => service.id === serviceId);

                if (selectedService) {
                    this.selectedService = selectedService;
                    this.loadMasters(selectedService.id);
                    this.isServiceListVisible = false;
                }
            },

            selectMaster(masterId) {
                this.selectedMaster = masterId;
                this.showServicesForMaster(masterId);
            }
            ,
            toggleSalonList() {
                this.isSalonListVisible = !this.isSalonListVisible;
            }
            ,

            selectSalon(salonId) {
                this.selectedSalon = salonId;
                const selectedSalon = this.salons.find(salon => salon.id === salonId);
                if (selectedSalon) {
                    this.selectedSalonTitle = selectedSalon.title;
                }
                this.loadServices(salonId);
            }
            ,

            initDatepicker() {

                new AirDatepicker('#datepickerHere', {
                    inline: true,
                    dateFormat: 'yyyy-MM-dd',
                    onSelect: ({formattedDate}) => {

                        this.selectedDate = formattedDate;
                        this.loadSchedule();
                        if (formattedDate) {
                            this.loadSalonsForDate(formattedDate);

                        }
                    }
                });
            },

            loadSalonsForDate(date) {
                fetch(`/api/get_salons_for_date/?date=${date}&master=${this.selectedMaster}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.length > 0) {
                            this.salons = data;

                        } else {
                            this.salons = [];
                            console.error('Нет доступных салонов для выбранной даты');
                        }
                    })
                return date
            },


            loadSchedule() {
                //! TODO Тут надо было обработать какой-то баг, но я забыл какой(:
                if (this.selectedMaster && this.selectedSalon && this.selectedDate) {
                    const url = `/api/get_schedule_for_salon/?master_id=${this.selectedMaster}&salon_id=${this.selectedSalon}&date=${this.selectedDate}`;

                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            this.timeSlots = data;
                        })
                        .catch(error => {
                            console.error('Error loading schedule:', error);
                        });
                } else if (this.selectedMaster && this.selectedDate && !this.selectedSalon) {
                    const url = `/api/get_schedule/?master_id=${this.selectedMaster}&date=${this.selectedDate}`;

                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            this.timeSlots = data;
                        })
                        .catch(error => {
                            console.error('Error loading schedule:', error);
                        });
                }

            }
            ,

            selectTime(timeSlot) {
                this.selectedTime = timeSlot.time;
                this.selectedSalon = timeSlot.salon_id;

                const selectedSalon = this.salons.find(salon => salon.id === this.selectedSalon);
                if (selectedSalon) {
                    this.selectedSalonTitle = selectedSalon.title;
                }
            },


            loadSalons() {
                fetch('/api/get_salons/')
                    .then(response => response.json())
                    .then(data => {
                        this.salons = data;
                    })
                    .catch(error => console.error('Ошибка при загрузке салонов:', error));
            }
            ,

            loadAllServicesAndMasters() {
                fetch('api/get_all_services/')
                    .then(response => response.json())
                    .then(data => {
                        this.services = data;
                    })
                    .catch(error => console.error('Ошибка при загрузке услуг:', error));

                fetch('api/get_all_masters/')
                    .then(response => response.json())
                    .then(data => {
                        this.masters = data;
                    })
                    .catch(error => console.error('Ошибка при загрузке мастеров:', error));
            }
            ,

            loadServices() {
                if (!this.selectedSalon) return;

                fetch(`/api/services/?salon_id=${this.selectedSalon}`)
                    .then(response => response.json())
                    .then(data => {
                        this.services = data;
                    })
                    .catch(error => console.error('Ошибка при загрузке услуг:', error));
            }
            ,

            loadMasters(serviceId) {

                if (this.selectedMaster && serviceId && !this.selectedSalon) {
                    fetch(`/api/get_salons_for_masters_and_services/?service_id=${serviceId}&master_id=${this.selectedMaster}`)
                        .then(response => response.json())
                        .then(data => {
                            this.salons = data;
                            console.log(data)
                        })
                } else if (serviceId && this.selectedSalon && !this.selectedMaster) {
                    fetch(`/api/masters/?service_id=${serviceId}&salon_id=${this.selectedSalon}`)
                        .then(response => response.json())
                        .then(data => {
                            this.masters = data;

                        })
                        .catch(error => console.error('Ошибка при загрузке мастеров:', error));
                } else if (serviceId && !this.selectedSalon && !this.selectedMaster) {
                    fetch(`api/get_master_for_service/?service_id=${serviceId}`)
                        .then(response => response.json())
                        .then(data => {
                            this.masters = data;

                        })
                    fetch(`api/get_salon_for_service/?service_id=${serviceId}`)
                        .then(response => response.json())
                        .then(data => {
                            this.salons = data;
                        })
                }
            }
            ,

            showServicesForMaster() {
                if (!this.selectedMaster) return;
                fetch(`/api/get_services_for_masters/?master_id=${this.selectedMaster}`)
                    .then(response => response.json())
                    .then(data => {
                        this.services = data;
                    })
                    .catch(error => console.error('Ошибка при загрузке услуг:', error));
            }
        }
    },)
    ;

</script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
